.centered {
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr {
  width: 80%;
  height: 10px;
  border: 0;
  margin: 0;
  background-color: black;
}
.toggleArrows {
  border: none;
  position: absolute;
}

.selectionBox {
  width: 80%;
  background-color: blanchedalmond;
  margin: auto;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
.selectionRow {
  width: 100%;
  height: 75px;
  /*background-color: red;*/
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.selectionChamp {
  width: 75px;
  height: 100%;
  padding: 0;
  border: none;
  /*background-color: slategray;*/
}
.champImg {
  max-width: 75px;
  max-height: 75px;
}

/* holiwi uwu */
